[defaults]
remote_user = root
ansible_ssh_user = root

inventory = inventory
inventory_ignore_extensions = ~, .orig, .bak, .cfg, .retry, .pyc, .pyo

roles_path = roles

pipelining = yes

gathering = smart
fact_caching = jsonfile
fact_caching_connection = cache
fact_caching_timeout = 86400
# seconds
# hash_behaviour=merge

strategy_plugins = ~/.local/lib/python3.6/site-packages/ansible_mitogen/plugins/strategy/
strategy = mitogen_free
#strategy = free

stdout_callback = counter_enabled

ansible_managed = This file is managed by Ansible.  date: %Y-%m-%d %H:%M:%S

host_key_checking = False
interpreter_python = auto
