location / {
            try_files $uri $uri/ /index.php$is_args$args ;
	location ~ [^/]\.ph(p\d*|tml)$ {
		try_files /does_not_exists @php;
	}
	location ~* ^.+\.(jpg|jpeg|gif|png|svg|js|css|mp3|ogg|mpe?g|avi|zip|gz|bz2?|rar|swf)$ {
		expires max;
	}
        }
	location ~* ^.+\.(jpg|jpeg|gif|png|svg|js|css|mp3|ogg|mpe?g|avi|zip|gz|bz2?|rar|swf|woff|woff2)$ {
		expires max;
}

location ~ .php$ {
	fastcgi_index index.php;
	fastcgi_pass unix:{{ __php_fpm_socket_path }}/{{ nginx_user }}.sock;
	fastcgi_split_path_info ^((?U).+\.ph(?:p\d*|tml))(/?.+)$;
	try_files $uri =404;
	fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
	include fastcgi_params;
}

location @php {
	fastcgi_index index.php;
	fastcgi_pass unix:{{ __php_fpm_socket_path }}/{{ nginx_user }}.sock;
	fastcgi_split_path_info ^((?U).+\.ph(?:p\d*|tml))(/?.+)$;
	try_files $uri =404;
	fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
	include fastcgi_params;
}
