[mysqld]
{% for key, value in mysqld.iteritems() %}
{% if value == None %}
{{ key }}
{% else %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}
skip-character-set-client-handshake 
init_connect='SET collation_connection = utf8mb4_unicode_ci'
init_connect='SET NAMES utf8mb4'


[mysql]
prompt = "{{ ansible_hostname }} mysql> "
default-character-set = utf8mb4

[client]
user = root
